<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body class="main">

  <%- include('./partials/nav.ejs') %>

  <div>
    <form action="/new" method="POST">
        <label for="username">Username: </label>
        <input type="text" id="username" name='username' required>

        <label for="content">Message: </label>
        <textarea id="content" name="content" required></textarea>

        <button>Submit</button>
    </form>
</div>

  <%- include('./partials/footer.ejs') %>
</body>

</html>